.env
data
gemini.py
.vscode

# Python-specific additions
__pycache__/
*.pyc
.venv
.pytest_cache/
.tox/
.mypy_cache/
.ipynb_checkpoints/

# Operating System and Editor Files
.DS_Store
Thumbs.db

# Log and temporary files
*.log